.bgimage {
  background-image: url('../images/reptiles.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
  font-family: 'Playfair Display', serif;

}
/*<-------------------------------------------CSS--FOR--HEADER---------------------------------------------------------->*/
a {
    color: inherit;
}

header h4, h1 {
    color: beige;
    text-shadow: 2px 2px 4px #000000;
} 
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	
}

i.fa {
	color:none;
}
.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFF315;
	font-family: 'Playfair Display', serif;
	font-weight: 300;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}
.fa-lastfm-square:hover {
    color: red;
}
.fa-linkedin-square:hover {
	color: #4875B4;
}
.fa-facebook-official:hover {
	color: #3B5998;
}

.container-fluid h1 {
	text-align: left;
}

.card i {
	margin-top: 50px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top: 50px;
	margin-bottom: 50px;
}

.imgs2 {
	overflow: hidden;
	margin-top: 10px;
	
}

footer {
	background-color: azure;
	margin-bottom: 0px;
}

footer p {
	text-align: center;
	font-size: 10px;
	margin-bottom: 0px;

}
footer i {
	float: right;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

footer div.row {
  height: 10em;
  display: flex;
  align-items: center }
div.container5 i {
  margin: 0 }

#intro {
	margin-top: 30px;
	margin-bottom: 50px;
}

@media all and (max-width: 767px) {
	div.cards {
		display: none;
	}
		
	hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
	div.allnavbar div.container {
		margin-bottom: 0px;
	}
	
	div.imgs2{
		display: none;
	}
	

}
@media all and (min-width: 768px) {
	div.allnavbar {
		display: none;
	}
	#me {
		display: none;	
	}
}
